<div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
<h1>Sign into <span class="logo_spoon logo">spoon</span><span class="logo">feed</h1></span>
</div>
<form>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
        <label for="inputEmail">Email</label>
        <input class="form-control"
        name="email" placeholder="Email" type="email">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
        <label for="inputPassword">Password</label>
        <input class=
        "form-control" name="password" placeholder="Password" type="password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
        <label for="inputPassword2">Confirm password</label>
        <input class="form-control" name="password_confirmation" placeholder=
        "Confirm password" type="password">
      </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
            <button class="btn btn-default" type="submit">Sign in</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
            <div class="fb-login-button" data-auto-logout-link="false"
            data-max-rows="1" data-show-faces="false" data-size="xlarge">
            <img class=".img-responsive" src="/assets/fb_login.png"></div>
        </div>
    </div>
</form>