<div class="sign-in-title">
  <h1>Create an account for <span class="logo_spoon logo">spoon</span><span class="logo">feed</h1></span>
  </div>
<form id="signup-form">
    <div class="form-group">
      <div class="col-xs-4 col-xs-offset-4">
        <input class="form-control"
        name="email" placeholder="Email" type="email">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-4 col-xs-offset-4">
        <input class="form-control" name="password" placeholder="Password" type="password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-4 col-xs-offset-4">
        <input class="form-control" name="password_confirmation" placeholder="Confirm password" type="password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-4 col-xs-offset-4">
            <button class="btn btn-default signup-btn" type="submit">Sign up</button>
        </div>
    </div>
</form>