<h3>Feed content</h3>
<div id='feed' class='row'></div>

<script>
$.ajax({
  url: '/subscriptions',
  method: 'GET',
  success: function(feed){
    console.log(feed.title);
    console.log(feed.entries);
    // console.log(feed.entries);

    feed.entries.forEach(function(entry){
      console.log(entry);
      html = '<div class="entry-div col-sm-3">' +
                '<div class="thumbnail">' +
                  '<div class="caption">' +
                    '<h4>' + entry.title + '</h4>' +
                    '<p>' + entry.published + '</p>' +
                  '</div></div></div>';
      $('#feed').append(html);
    })
  }
})
</script>