<h3>Feed content</h3>
<div id='feed' class='row'></div>

<script>
$.ajax({
  url: '/subscriptions',
  method: 'GET',
  success: function(feed){
    // console.log(feed.entries.first.title);
    feed.entries.forEach(function(entry){
      console.log('title: ' + entry[0][1]);
      html = '<div class="entry-div col-sm-3">' +
                '<div class="thumbnail">' +
                  '<div class="caption">' +
                    '<h4>' + entry[0][1] + '</h4>' +
                    '<p>' + entry[5][1] + '</p>' +
                  '</div></div></div>';
      // html = '<div class="entry-div">' +
      //       '<h4>'+ entry.title +'</h4>' +
      //       '</div>';
      $('#feed').append(html);
    })
  }
})
</script>