<div class="feed-title">
  <h1><%= current_user.name%>'s <span class="logo_spoon logo">spoon</span><span class="logo">feed</span></h1>
</div>

<div id='feed' class='grid row'></div>

<script>
$.ajax({
  url: '/subscriptions',
  method: 'GET',
  success: function(subscriptions){
    subscriptions.subscriptions.forEach(function(subscription){
      subscription.entries.forEach(function(entry){
        var description = '<div>' + entry.summary + '</div>';
        var imageUrl = $(description).find('img').attr('src');
        if (imageUrl){
        }
        html = '<div class="grid-item entry-div">' +
                '<img src="' + imageUrl + '">' +
                  '<div class="thumbnail">' +
                    '<div class="caption">' +
                      '<h4>' + entry.title + '</h4>' +
                      '<p>' + entry.published + '</p>' +
                    '</div></div></div>';
        $('#feed').append(html);

      });
    });
    var $grid = $('.grid').imagesLoaded(function() {
      $grid.isotope({
        itemSelector: '.grid-item',
        layoutMode: 'packery',
        packery: {
          gutter: 10
        }
      });
    });
  }
});

</script>