<div class="feed-title">
  <h1><%= current_user.name%>'s <span class="logo_spoon logo">spoon</span><span class="logo">feed</span></h1>
</div>

<!-- <div id='feed' class='grid row'> -->
  <ul class="nav nav-tabs" role="tablist">
  </ul>
  <div class="tab-content grid"></div>

<!-- tab HTML, leave here for reference first -->
<!-- <div> -->
  <!-- Nav tabs -->
<!--     <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
 -->
  <!-- Tab panes -->
<!--   <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">...</div>
    <div role="tabpanel" class="tab-pane" id="profile">2</div>
    <div role="tabpanel" class="tab-pane" id="messages">3</div>
    <div role="tabpanel" class="tab-pane" id="settings">$</div>
  </div>

</div>
 -->
