<div class="modal fade" id="manage-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span >&times;</span></button>
        <h2 class="modal-title">manage subscriptions</h2>
        <hr id="manage-noty" class="noty-line">
        <ul id='subscriptionslist'>
          <li class="folder_name">
            <h3>General</h3>
            <ul class="folder-ul" id="General-manage-folder">
            </ul>
          </li>
          <li class="folder_name">
            <h3>News</h3>
            <ul class="folder-ul" id="News-manage-folder">
            </ul>
          </li>
          <li class="folder_name">
            <h3>Technology</h3>
            <ul class="folder-ul" id="Technology-manage-folder">
            </ul>
          </li>
          <li class="folder_name">
            <h3>Sports</h3>
            <ul class="folder-ul" id="Sports-manage-folder">
            </ul>
          </li>
          <li class="folder_name">
            <h3>Finance</h3>
            <ul class="folder-ul" id="Finance-manage-folder">
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
