<div class="modal fade" id="search-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span >&times;</span></button>
        <h1 class="modal-title">new subscription</h1>
        <hr id="search-noty" class="noty-line">
            <input class="form-control" id="searchbox" type="keywords" name="Search" placeholder="Search">
            <button type="button" class="btn btn-search" id="search-btn">Search</button>
          <!-- </div> -->
        <!-- </form> -->
      <hr id="result">
      </div>
    </div>
  </div>
</div>