<div class="modal fade" id="search-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span >&times;</span></button>
        <h1 class="modal-title">New Subscription</h1>
        <form id="search-form" class="form">
          <div class="form-group">
            <input class="form-control" type="keywords" name="Search" placeholder="Search">
            <button type="button" class="btn btn-search" id="search-btn">Search</button>
          </div>
        </form>
        <hr>
        <div class="source-container col-md-6 col-sm-12">
          <div class="title-template">
            <img src="">
            <h6 class="source-content source-title"> The Verge</h6>
            <div class="source-content source-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosq.
            </div>
            <button class="btn btn-source" type="button">Add</button>
            <button class="btn btn-source-web" type="button">Website</button>
          </div>
        </div>
        <div class="source-container col-md-6 col-sm-12">
          <div class="title-template">
            <img src="">
            <h6 class="source-content source-title"> The Verge</h6>
            <div class="source-content source-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosq.
            </div>
            <button class="btn btn-source" type="button">Add</button>
            <button class="btn btn-source-web" type="button">Website</button>
          </div>
        </div>
        <div class="source-container col-md-6 col-sm-12">
          <div class="title-template">
            <img src="">
            <h6 class="source-content source-title"> The Verge</h6>
            <div class="source-content source-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosq.
            </div>
            <button class="btn btn-source" type="button">Add</button>
            <button class="btn btn-source-web" type="button">Website</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>