<div class="modal fade" id="signup-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span >&times;</span></button>
        <h4 class="modal-title">Sign Up</h4>
        <form id="signup-form" class="form">
          <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Name">
          </div>

          <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email">
          </div>

          <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
          </div>

          <div class="form-group">
            <input class="form-control" type="password" name="password_confirmation" placeholder="Password Confirmation">
          </div>
          <input type="submit" class="hide">
        </form>

        <div class="btn fb-signup-btn"></div>
        <button type="button" class="btn btn-signup" id="signup-btn">Sign Up</button>
      </div>
    </div>
  </div>
</div>