<div id='feed'>
</div>

<script>


</script>
<!--

1. use feedjira to parse one entry info
2. including title, content, author, published time, image
  record the method here
  title:
  content:
  author:
  published:
  image:
3. use an unique id for each feeds
4. try to loop through the whole feed until it dries
5. create a modal while clicking on that feed


// -->