<% if user_signed_in? %>
  <div>
    <h3>Find new feeds</h3>
      <input style="color: black" id="searchbox">
      <button id='searchSubmit' class="btn btn-sp" type="submit">Submit</button>
    </div>
    <div class='grid row'></div>
  <% else %>
    <h1>You must be logged in to view this page</h1>
<% end %>