<div >
   <p>Type I OR A</p>
   <input id="autocomplete-4">
   <div id='result'>
   </div>
</div>


<script>
$(document).ready(function(){
    $.ajax({
      method: 'GET',
      url: '/feedlr/search?query=hi',
      success: function(data){
        console.log(data);
      }
    });
})
</script>