<%= render 'statics/feeds/feeds' %>
<div >
   <input style="color: black" id="searchbox">
   <button id='searchSubmit' class="btn btn-default" type="submit">Submit</button>
   <div id='result'>
   </div>
</div>

<h3>Subscriptions</h3>

<script>
$(document).ready(function(){
  function subscribe(){
    // prepare params to be sent to database
    var params = {
      subscription: {
        title: $(this).parent().children('.feed-title').text(),
        url: $(this).data('feed-url')
      }
    };
    console.log(params);
    $.ajax({
      method: 'POST',
      url: '/subscriptions/add',
      data: params,
      success: function(data){
        console.log(data);

      }
    })
  }

  function searchFeed(){
    var keyword = $('#searchbox').val();
    $.ajax({
      method: 'GET',
      url: '/feedlr/search?query='+keyword,
      success: function(feeds){
        $('#result').html('');
        feeds.results.forEach(function(result){
          html = '<div class="entry-div col-sm-3">' +
                  '<div class="thumbnail">' +
                    '<img src="' + result.visualUrl + '">' +
                  '<div class="caption">' +
                    '<h4 class="feed-title">' + result.title + '</h4>' +
                    // store feed url in data attribute
                    '<a class="add-feed" data-feed-url="' + result.feedId.slice(5) +'" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>' +
                    '<p>' + result.description + '</p>' +
                  '</div></div></div>';
          $('#result').append(html);
        })
      }
    });
  }

  function init(){
    // on clicking search submit
    $('#result').on('click', '.add-feed', subscribe)
    $('#searchSubmit').on('click', searchFeed);
  }
  init();
})
</script>