<% if user_signed_in? %>
  <div>
    <h3>Find new feeds</h3>
     <input style="color: black" id="searchbox">
     <button id='searchSubmit' class="btn btn-sp" type="submit">Submit</button>
  </div>

  <div id='result' class='grid'></div>

  <%= render 'statics/feeds/feeds' %>

  <script>
  $(document).ready(function(){
    function subscribe(){
      // prepare params to be sent to database
      var params = {
        subscription: {
          title: $(this).parent().children('.feed-title').text(),
          url: $(this).data('feed-url')
        }
      };
      console.log(params);
      $.ajax({
        method: 'POST',
        url: '/subscriptions/add',
        data: params,
        success: function(data){
          console.log(data);

        }
      })
    }

    function searchFeed(){
      var keyword = $('#searchbox').val();
      $.ajax({
        method: 'GET',
        url: '/feedlr/search?query='+keyword,
        success: function(feeds){
          $('#result').html('');
          feeds.results.forEach(function(result){
            html = '<div class="grid-item entry-div">' + '<img src="' + result.visualUrl + '">' +
                    '<div class="thumbnail">' +
                    '<div class="caption">' +
                      '<h4 class="feed-title">' + result.title + '</h4>' +
                      '<p>' + result.description + '</p>' + '<a class="add-feed" data-feed-url="' + result.feedId.slice(5) +'" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>'
                    '</div></div></div>';
            $('#result').append(html);
          })


        }
      });
    }

    function init(){
      // on clicking search submit
      $('#result').on('click', '.add-feed', subscribe)
      $('#searchSubmit').on('click', searchFeed);
    }
    init();
  })
  </script>
<% else %>
<h1>You must be logged in to view this page</h1>
<% end %>