<h1> This is secret page</h1>
<div> Only logged in user can see</div>

  <ul id='manage'>
  </ul>


<%= current_user.email %>

<script>
  $.ajax({
    url: '/manage',
    method: 'GET',
    success: function(folders){
      folders.forEach(function(folder){
        html = '<li>' +folder.name + '<ul>';
        folder.subscriptions.forEach(function(subscription){
          html+= '<li><img src="'+subscription.logoUrl+'">  '+subscription.title+'<span data-id="'+subscription.id+'"></span></li>';
          // subscription.id
          // subscription.logoUrl
        })
        html+= '</ul></li>';
        $('#manage').append(html);
      })

    }
  })
</script>

<!-- html for nested list -->
<!-- <nav>
    <ul>
        <li>Parent 1
            <ul>
                <li>Child 1</li>
                <li>Child 2</li>
                <li>Child 3</li>
            </ul>
        </li>
        <li>Parent 2
            <ul>
                <li>Child 4</li>
                <li>Child 5</li>
                <li>Child 6</li>
            </ul>
        </li>
    </ul>
</nav>​ -->