<h1> This is secret page</h1>
<div> Only logged in user can see</div>
<div style="float:left;width:300px;">
  <div id='accordion'>
    <ul>
    </ul>
  </div>
</div>

<%= current_user.email %>

<script>
  $.ajax({
    url: '/manage',
    method: 'GET',
    success: function(folders){
      folders.forEach(function(folder){
        html = '<li><div style="color:white;">'+folder.name+'</div><ul>';
        folder.subscriptions.forEach(function(subscription){
          html+= '<li><a href="#">'+subscription.title+'</a></li>';
          // subscription.id
          // subscription.logoUrl
        })
        html+= '</ul></li>';
        $('#accordion').children('ul').append(html);
      })

    }
  })
</script>

