
body {
  background-color: #333;
  color: #d0d3d2;
}

input {
  display: block;
}

h1 {
  font-family: 'Lora', serif;
  color: white;
}

h2 {
  font-family: 'Lora', serif;
  color: white;
}

h3 {
  font-family: 'Lora', serif;
  color: white;
}

h4 {
  font-family: 'Lora', serif;
  color: white;
}

h5 {
  font-family: 'Lora', serif;
  color: white;
}

p {
  font-family: 'Hind', sans-serif;
  color: white;
}

.navbar-default {
  background-color: #222;
  border-color: #111;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar {
  border-radius: 0px;
}

.navbar-header {
    padding-left: 10px;
    padding-right: 20px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #00ffcc;
}

.logo {
  font-family: 'Poiret One', cursive;
  color: white;
  font-size: 40px;
  text-decoration: none;
}

.logo a, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
  text-decoration: none;
}

.logo_spoon{
  color: #00ffcc;
}

/*css for feed content*/
.entry-div img{
  width: 100%;
  height: auto;
}