
body {
  background-color: #333;
  color: white;
}

input {
  display: block;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lora', serif;
  color: white;
}

p {
  font-family: 'Hind', sans-serif;
  color: white;
}

.navbar-default {
  background-color: #222;
  border-color: #111;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar {
  border-radius: 0px;
}

.navbar-header {
    padding-left: 10px;
    padding-right: 20px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #00ffcc;
}

.logo {
  font-family: 'Poiret One', cursive;
  color: white;
  font-size: 40px;
  text-decoration: none;
}

.logo a, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
  text-decoration: none;
}

.logo_spoon {
  color: #00ffcc;
}

.page-title, .sign-in-title {
  margin-bottom: 30px;
  text-align: center;
}

.fb-login-btn, .fb-signup-btn {
  width: 200px;
  height: 43px;
  background-image: url("/assets/fb_login.png");
  display: block;
}

.fb-login-btn:hover, .fb-signup-btn:hover {
  background-image: url("/assets/fb_login_hover.png");
  cursor: pointer;
}

.fb-signup-btn {
  background-image: url("/assets/fb_signup.png");
}

.fb-signup-btn:hover {
  background-image: url("/assets/fb_signup_hover.png");
}

.login-btn, .signup-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 200px;
  height: 43px;
  background-color: #00ffcc;
  border: none;
  display: block;
}

/*css for feed content*/
.entry-div img{
  width: 100%;
  height: auto;
}

.thumbnail {
  background-color: #222;
}

/* css for modals */
.modal-content {
  background-color: #333;
  .close {
    color: white;
  }
}